.box{
    height:80vh;
    border: 2px solid black;
    margin: auto;
    width: 50%;
    margin-top:100px;
    margin-bottom:100px;
    padding:10px;
    padding-bottom:100px;
}

.nextButton{
    width:70%;
   
    

}

.anchor{
    text-align: center;
}